<%= simple_form_for(@chart, :html => {:class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.input :name %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :charttype, :collection =>['pie', 'column', 'spline'], :prompt => "Select your chart type" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                charts_path, :class => 'btn' %>
  </div>
<% end %>
