<%= simple_form_for @chart, :url => { :action => "addnodes" } do |f| %>
  <div class="controls">
    <%= f.label :name %>
  </div>
  <div class="controls">
    <%= f.label :charttype %>
  </div>
  <div class="controls">
    <%= label_tag :chartnodes %>
    <div class="controls">
      <%= text_area_tag :chartnodes, nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chart_path, :class => 'btn' %>
  </div>
<% end %>